@page "/starships"
@using Staris.Shared.Components.Code.StarShip
@inherits IndexStarShip
<PageTitle>StarShips</PageTitle>

<h1>Lista de Naves</h1>
@if (Model is not null && IsDone)
{
    <ul>
        @foreach (var m in Model)
        {
            <li>
                @m.Name <a href="/starships/@m.Id">Details</a>
            </li>
        }
    </ul>
}
else
{
    <div>
        ....Carregando
    </div>
}
