@using Staris.Shared.Components.Code.StarShip
@inherits IndexStarShip

<h1>Lista de Naves</h1>
@if(IsDone)
{
    <ul>
        @(Model is not null)
        {
            @foreach(var m in Model)
            {
                <li>@m.Name</li>
            }
        }
    </ul>
}
else
{
    <div>
        ....Carregando
    </div>
}
