@page "/movies/index"
@inject IMovieService _service


<h1>Algo aqui Totais: @Films.Count</h1>
@if (IsDone)
{

    <IndexFilmeComponent 
    Model="@Films">
    </IndexFilmeComponent>
}
else
{
    <p>Carregando...</p>
}





@code {
    public List<MovieViewModel> Films { get; set; } = new();
    public bool IsDone { get; set; } = false;

    public string Erro { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        IsDone = false;
        await Task.Delay(500);
        try
        {
            Films = await _service.GetList();

            IsDone = true;

        }
        catch (Exception ex)
        {
            IsDone = false;
            Erro = ex.Message;
        }
    }

}
