@using Staris.Shared.Components.Code.People
@inherits IndexPeople

<h1>Personagens</h1>


@if (IsDone)
{
<ul>
    @if (Model is not null)
    {
        <section class="cards-wrapper">

        @foreach (var p in Model)
        {
            <li>
                Nome:@p.Name  Nacimento:@p.BirthYear  Genero: @p.Gender  <img src="@p.ImageUrl" alt="@p.Name" style="width: 100px" />
                <a href="/people/@p.Id">Detais</a>
            </li>
        }
        </section>
    }
</ul>
}
else
{
    <div>
    ...Carregando
    </div>
}

