@page "/vehicles/{id:int}"
@using Staris.Shared.Components.Code.Vehicles
@inherits DetailVehicle
<PageTitle>Detail Vehicle</PageTitle>


@if(Model is not null && IsDone)
{
    <section>
        <h1>@Model.Name</h1>
        <p>Model:@Model.Model Cost:@Model.CostInCredits Capacity:@Model.CargoCapacity</p>
        <img src="@Model.ImageUrl" alt="@Model.Name" />
        @if (Model.Films?.Count > 0)
        {
            <section>
                <h3>Movies</h3>
                <ul>
                    @foreach (var m in Model.Films)
                    {
                        <li>@m.Title</li>
                    }
                </ul>
            </section>
        }
    </section>
}
else
{
    <div>
        ...Loading
    </div>
}