@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<label>Caminho para API</label>
<InputText @bind-Value="UriMock" />



@code{
    public string UriMock { 
        get { return Configuration.BaseUri; }
        set
        {
            Configuration.BaseUri = value;
        } 
    }


   
    protected override async Task OnInitializedAsync()
    {

    }

}