@page "/w"
@using Staris.Shared.Configurations


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<label for="input_config">Caminho para API</label>
<input id="input_config" type="text" @bind=AppConfig.BaseUri />

<div>
    check: @AppConfig.BaseUri
</div>
