@using Staris.Shared.Components.Code.Shared
@inherits ListItems

<section>
    <h3>@Name</h3>
    <ul>
        @foreach(var item in Items)
        {
            <li><a href="@(Url+item.Id)">@item.Title</a></li>     
        }
    </ul>
</section>