@inherits IndexFilm

@if (Model is not null)
{
    <h1>Lista de Filmes - QTD:@Model?.Count ?? 0</h1>

     @if (IsDone)
     {
        <ul>
        
            @foreach(var item in Model)
            {
                <li>@item.Title  - Data Lançamento: @Convert.ToDateTime(item.ReleaseDate).ToString("d") </li> 
            }
        
   
        </ul>
     }
     else
     {
        <div>
            ...Carregando
        </div>
     }
}

