@inherits IndexFilm

@if (Model is not null)
{
    <h1>Lista de Filmes - QTD:@Model?.Count ?? 0</h1>

     @if (IsDone)
     {
        <section class="cards-wrapper">
        
            @foreach(var item in Model)
            {
                <Movie item="@item" />
            }
        
   
        </section>
     }
     else
     {
        <div>
            ...Carregando
        </div>
     }
}

