
@inherits IndexFilm

@if (Model is not null && IsDone)
{
    <h1 class="sr-only">Lista de Filmes</h1>

     @if (IsDone)
     {
         <section class="page">
            <div class="cards-wrapper">
        
                @foreach(var item in Model)
                {
                    <Movie item="@item" />
                }
            </div>
                <PaginationComponent TotalPages="@TotalPages" />
        </section>
     }
     else
     {
        <div>
            ...Carregando
        </div>
     }
}

